<a href="https://colab.research.google.com/github/educhel/L02_Data_Analysis/blob/main/0108_%EA%B0%95%EC%9D%98%EC%A7%84%ED%96%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [1] colab 시작하기
- 분석환경 colab 이해
- 코드셀과 텍스트셀의 차이알기

## (1) colab 환경 이해

In [ ]:
word = 'Hello Python!'

Colab Notebook 안에서는 **코드 셀**과 `텍스트 셀`을 통해 코드를 작성하고, 설명할 수 있습니다.

In [ ]:
print(word)

Hello Python!

## (2) 셀 실행 방식의 특징

대화형 환경이기 때문에!

In [ ]:
x = 10
x

10

# [2] 데이터 분석 시작하기

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'2.2.2'

![img](https://www.notion.so/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Ff2678325-6f7b-4a25-b188-86c42030d6d5%2F381035df-d5cb-4ab8-8ab0-dae8ed8ff7e3%2FUntitled.png%3FspaceId%3Df2678325-6f7b-4a25-b188-86c42030d6d5?table=block&id=2e1611ac-3a00-808e-805f-fab1a6e7684d&cache=v2)

- Series : 1차원의 배열 형태
- DataFrame : 2차원의 테이블 형태 ✅

In [ ]:
?pd.DataFrame

> 딕셔너리로 생성

In [ ]:
data = {'name':['alex','jun','chelsea'],
        'age':[22, 21, 23],
        'gender':['Male','Male','Female']}

type(data)

dict

In [ ]:
df = pd.DataFrame(data)
df

      name  age  gender
0     alex   22    Male
1      jun   21    Male
2  chelsea   23  Female

> 2차원 리스트

In [ ]:
data_list = [
    ['alex',22,'Male'],
    ['jun',21,'Male'],
    ['chelsea',23,'Female']
]

type(data_list)

list

In [ ]:
df2 = pd.DataFrame(data_list, columns=['name','age','gender'])
df2

      name  age  gender
0     alex   22    Male
1      jun   21    Male
2  chelsea   23  Female

# [3] 데이터 불러오기

In [ ]:
path = '/content/drive/MyDrive/새싹2기/데이터분석/data/'

In [ ]:
df = pd.read_csv(path+'Sales.csv')

In [ ]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62
3,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
4,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Middle East and North Africa,Azerbaijan,Snacks,Offline,C,4/18/2010,534085166,4/25/2010,6524,152.58,97.44,995431.92,635698.56,359733.36
996,Europe,Georgia,Baby Food,Offline,H,8/1/2011,590768182,9/7/2011,288,255.28,159.42,73520.64,45912.96,27607.68
997,Middle East and North Africa,United Arab Emirates,Vegetables,Online,C,5/12/2011,524363124,6/28/2011,9556,154.06,90.93,1472197.36,868927.08,603270.28
998,Europe,Finland,Household,Offline,L,1/25/2016,289606320,2/14/2016,9801,668.27,502.54,6549714.27,4925394.54,1624319.73
999,Europe,Portugal,Cereal,Offline,C,4/10/2014,811546599,5/8/2014,3528,205.70,117.11,725709.60,413164.08,312545.52

In [ ]:
df.to_excel(path+'Sales.xlsx', sheet_name='check!')

In [ ]:
from google.colab import drive

?drive.mount

In [ ]:
drive.mount('/content/drive/')

Mounted at /content/drive/

# [4] 데이터 확인하기

In [ ]:
import pandas as pd

In [ ]:
employee_data = {
    "Name": ["John Doe", "Jane Smith", "Peter Jones", "Linda Taylor", "Emily Clark", "David Smith", "Michael Brown", "Sarah Johnson"],
    "Position": ["Software Engineer", "Data Scientist", "Project Manager", "HR Specialist", "Data Scientist", "Software Engineer", "HR Specialist", "Project Manager"],
    "Office": ["New York", "San Francisco", "Berlin", "London", "San Francisco", "New York", "London", "Berlin"],
    "Age": [28, 34, 45, 32, 30, 38, 41, 29],
    "Salary": [95000, 125000, 75000, 85000, 115000, 105000, 90000, 80000],
    "Is_Manager":[True,False,False,True,True,False,True,False]
}
df = pd.DataFrame(employee_data)

In [ ]:
df

            Name           Position         Office  Age  Salary  Is_Manager
0       John Doe  Software Engineer       New York   28   95000        True
1     Jane Smith     Data Scientist  San Francisco   34  125000       False
2    Peter Jones    Project Manager         Berlin   45   75000       False
3   Linda Taylor      HR Specialist         London   32   85000        True
4    Emily Clark     Data Scientist  San Francisco   30  115000        True
5    David Smith  Software Engineer       New York   38  105000       False
6  Michael Brown      HR Specialist         London   41   90000        True
7  Sarah Johnson    Project Manager         Berlin   29   80000       False

## (1) 전체 구조 확인

In [ ]:
# 데이터 프레임의 구조 확인

df.shape # 데이터 프레임에 딸린 "정보" -> 소괄호가 없다.

(8, 6)

In [ ]:
# 컬럼(열) 구성 확인하기

df.columns # 정보 확인

Index(['Name', 'Position', 'Office', 'Age', 'Salary', 'Is_Manager'], dtype='object')

In [ ]:
df.index # 행 구성 확인 가능

RangeIndex(start=0, stop=8, step=1)

## (2) 미리보기

In [ ]:
df.head() # 기본 5행 확인

           Name           Position         Office  Age  Salary  Is_Manager
0      John Doe  Software Engineer       New York   28   95000        True
1    Jane Smith     Data Scientist  San Francisco   34  125000       False
2   Peter Jones    Project Manager         Berlin   45   75000       False
3  Linda Taylor      HR Specialist         London   32   85000        True
4   Emily Clark     Data Scientist  San Francisco   30  115000        True

In [ ]:
df.tail(n=2) # 행의 갯수 직접 조정

            Name         Position  Office  Age  Salary  Is_Manager
6  Michael Brown    HR Specialist  London   41   90000        True
7  Sarah Johnson  Project Manager  Berlin   29   80000       False

## (3) 데이터 타입과 결측치 확인

In [ ]:
# 컬럼별 자료형(type) 확인

types_ex = df.dtypes
types_ex

Name          object
Position      object
Office        object
Age            int64
Salary         int64
Is_Manager      bool
dtype: object

In [ ]:
# 전체의 정보 확인하기
# 목적 : 사람이 눈으로 보고 확인하게  한다.

df.info()

# 사람이 정보를 잘 확인하라고, "출력"
# info의 내용을 변수에 저장할 수 없습니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Position    8 non-null      object
 2   Office      8 non-null      object
 3   Age         8 non-null      int64
 4   Salary      8 non-null      int64
 5   Is_Manager  8 non-null      bool
dtypes: bool(1), int64(2), object(3)
memory usage: 460.0+ bytes

- 메소드는 df.head()와 같이 끝난다.
- 속성(attribute)는 df.index와 같이 끝난다.

## (4) 정렬하기

데이터 프레임은 (행, 열) -> 2차원 구조

그렇기 때문에 정렬하는데, 어떤 방향을 기준으로 정렬할지 알려줘야 한다.  
=> `sort_*` : 정렬하세요. `*`를 기준으로

1. 값을 기준으로 정렬하는 df.sort_values()
2. 행의 이름을 기준으로 정렬하는 df.sort_index()

In [ ]:
# 컬럼을 기준으로 정렬
# 기본값은 오름차순

df.sort_values(by='Salary') # 새로운 데이터 프레임 반환

            Name           Position         Office  Age  Salary  Is_Manager
2    Peter Jones    Project Manager         Berlin   45   75000       False
7  Sarah Johnson    Project Manager         Berlin   29   80000       False
3   Linda Taylor      HR Specialist         London   32   85000        True
6  Michael Brown      HR Specialist         London   41   90000        True
0       John Doe  Software Engineer       New York   28   95000        True
5    David Smith  Software Engineer       New York   38  105000       False
4    Emily Clark     Data Scientist  San Francisco   30  115000        True
1     Jane Smith     Data Scientist  San Francisco   34  125000       False

In [ ]:
df # 기존 데이터 프레임은 바뀌지 않는다.

            Name           Position         Office  Age  Salary  Is_Manager
0       John Doe  Software Engineer       New York   28   95000        True
1     Jane Smith     Data Scientist  San Francisco   34  125000       False
2    Peter Jones    Project Manager         Berlin   45   75000       False
3   Linda Taylor      HR Specialist         London   32   85000        True
4    Emily Clark     Data Scientist  San Francisco   30  115000        True
5    David Smith  Software Engineer       New York   38  105000       False
6  Michael Brown      HR Specialist         London   41   90000        True
7  Sarah Johnson    Project Manager         Berlin   29   80000       False

> 원본 데이터 프레임을 바꾸고 싶은 경우?

In [ ]:
df.sort_values(by='Salary',inplace=True)

In [ ]:
df

            Name           Position         Office  Age  Salary  Is_Manager
2    Peter Jones    Project Manager         Berlin   45   75000       False
7  Sarah Johnson    Project Manager         Berlin   29   80000       False
3   Linda Taylor      HR Specialist         London   32   85000        True
6  Michael Brown      HR Specialist         London   41   90000        True
0       John Doe  Software Engineer       New York   28   95000        True
5    David Smith  Software Engineer       New York   38  105000       False
4    Emily Clark     Data Scientist  San Francisco   30  115000        True
1     Jane Smith     Data Scientist  San Francisco   34  125000       False

In [ ]:
# 내림차순 정렬
df.sort_values(by='Age', ascending=False)

            Name           Position         Office  Age  Salary  Is_Manager
2    Peter Jones    Project Manager         Berlin   45   75000       False
6  Michael Brown      HR Specialist         London   41   90000        True
5    David Smith  Software Engineer       New York   38  105000       False
1     Jane Smith     Data Scientist  San Francisco   34  125000       False
3   Linda Taylor      HR Specialist         London   32   85000        True
4    Emily Clark     Data Scientist  San Francisco   30  115000        True
7  Sarah Johnson    Project Manager         Berlin   29   80000       False
0       John Doe  Software Engineer       New York   28   95000        True

In [ ]:
# 여러컬럼을 기준으로 정렬
df.sort_values(by=['Office','Salary'],ascending=[True,False])

            Name           Position         Office  Age  Salary  Is_Manager
7  Sarah Johnson    Project Manager         Berlin   29   80000       False
2    Peter Jones    Project Manager         Berlin   45   75000       False
6  Michael Brown      HR Specialist         London   41   90000        True
3   Linda Taylor      HR Specialist         London   32   85000        True
5    David Smith  Software Engineer       New York   38  105000       False
0       John Doe  Software Engineer       New York   28   95000        True
1     Jane Smith     Data Scientist  San Francisco   34  125000       False
4    Emily Clark     Data Scientist  San Francisco   30  115000        True

(참고) 행의 이름을 기준으로 정렬하기

In [ ]:
df.sort_index(inplace=True)
df

            Name           Position         Office  Age  Salary  Is_Manager
0       John Doe  Software Engineer       New York   28   95000        True
1     Jane Smith     Data Scientist  San Francisco   34  125000       False
2    Peter Jones    Project Manager         Berlin   45   75000       False
3   Linda Taylor      HR Specialist         London   32   85000        True
4    Emily Clark     Data Scientist  San Francisco   30  115000        True
5    David Smith  Software Engineer       New York   38  105000       False
6  Michael Brown      HR Specialist         London   41   90000        True
7  Sarah Johnson    Project Manager         Berlin   29   80000       False

# [5] 범주형 데이터 확인하기

In [ ]:
import pandas as pd

df = pd.DataFrame({
'Brand': ['Apple','Samsung','Apple','Xiaomi','Samsung','Xiaomi','Samsung'],
'Model': ['iphone15','Galaxy24','iphone16','Redme15','Galaxy23','Redme14','Galaxy25'],
'Release': [True,True,False,True,True,True,False],
'Price': [str(i) for i in range(10,80,10)]
})

In [ ]:
df

     Brand     Model  Release Price
0    Apple  iphone15     True    10
1  Samsung  Galaxy24     True    20
2    Apple  iphone16    False    30
3   Xiaomi   Redme15     True    40
4  Samsung  Galaxy23     True    50
5   Xiaomi   Redme14     True    60
6  Samsung  Galaxy25    False    70

## (1) 고유값 확인

In [ ]:
df.dtypes

Brand      object
Model      object
Release      bool
Price      object
dtype: object

In [ ]:
df['Brand'].unique()

array(['Apple', 'Samsung', 'Xiaomi'], dtype=object)

In [ ]:
df['Model'].unique()

array(['iphone15', 'Galaxy24', 'iphone16', 'Redme15', 'Galaxy23',
       'Redme14', 'Galaxy25'], dtype=object)

## (2) 고유값 갯수 확인

In [ ]:
df['Brand'].nunique()

3

In [ ]:
df.nunique() # 컬럼이 가지고 있는 범주의 갯수 반환

Brand      3
Model      7
Release    2
Price      7
dtype: int64

## (3) 고유한 값의 분포

> 목적 : 값의 빈도 확인

In [ ]:
df.value_counts() # 복잡하다 -> 비추

Brand    Model     Release  Price
Apple    iphone15  True     10       1
         iphone16  False    30       1
Samsung  Galaxy23  True     50       1
         Galaxy24  True     20       1
         Galaxy25  False    70       1
Xiaomi   Redme14   True     60       1
         Redme15   True     40       1
Name: count, dtype: int64

In [ ]:
df['Brand'].value_counts()

Brand
Samsung    3
Apple      2
Xiaomi     2
Name: count, dtype: int64

In [ ]:
df['Release'].value_counts(normalize=True)

Release
True     0.714286
False    0.285714
Name: proportion, dtype: float64

# [5] 수치형 자료 확인하기

In [ ]:
employee_data = {
    "Name": ["John Doe", "Jane Smith", "Peter Jones", "Linda Taylor", "Emily Clark", "David Smith", "Michael Brown", "Sarah Johnson"],
    "Position": ["Software Engineer", "Data Scientist", "Project Manager", "HR Specialist", "Data Scientist", "Software Engineer", "HR Specialist", "Project Manager"],
    "Office": ["New York", "San Francisco", "Berlin", "London", "San Francisco", "New York", "London", "Berlin"],
    "Age": [28, 34, 45, 32, 30, 38, 41, 29],
    "Salary": [95000, 125000, 75000, 85000, 115000, 105000, 90000, 80000],
    "Is_Manager":[True,False,False,True,True,False,True,False]
}

df = pd.DataFrame(employee_data)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Position    8 non-null      object
 2   Office      8 non-null      object
 3   Age         8 non-null      int64
 4   Salary      8 non-null      int64
 5   Is_Manager  8 non-null      bool
dtypes: bool(1), int64(2), object(3)
memory usage: 460.0+ bytes

## 전체 기술 통계량 요약

In [ ]:
df.shape

(8, 6)

In [ ]:
df.describe()

             Age         Salary
count   8.000000       8.000000
mean   34.625000   96250.000000
std     6.139742   17474.471175
min    28.000000   75000.000000
25%    29.750000   83750.000000
50%    33.000000   92500.000000
75%    38.750000  107500.000000
max    45.000000  125000.000000

In [ ]:
df.describe(include='all')

,Name,Position,Office,Age,Salary,Is_Manager
count,8,8,8,8.000000,8.000000,8
unique,8,4,4,NaN,NaN,2
top,John Doe,Software Engineer,New York,NaN,NaN,True
freq,1,2,2,NaN,NaN,4
mean,NaN,NaN,NaN,34.625000,96250.000000,NaN
std,NaN,NaN,NaN,6.139742,17474.471175,NaN
min,NaN,NaN,NaN,28.000000,75000.000000,NaN
25%,NaN,NaN,NaN,29.750000,83750.000000,NaN
50%,NaN,NaN,NaN,33.000000,92500.000000,NaN
75%,NaN,NaN,NaN,38.750000,107500.000000,NaN
max,NaN,NaN,NaN,45.000000,125000.000000,NaN

## (2) 중심 경향치

### 1. 평균

In [ ]:
df.mean(numeric_only=True)

Age              34.625
Salary        96250.000
Is_Manager        0.500
dtype: float64

### 2. 중앙값

In [ ]:
df.median(numeric_only=True)

Age              33.0
Salary        92500.0
Is_Manager        0.5
dtype: float64

### 3. 최빈값

In [ ]:
df['Position'].mode()

0       Data Scientist
1        HR Specialist
2      Project Manager
3    Software Engineer
Name: Position, dtype: object

## (2) 산포도

### 1. 분산과 표준편차

In [ ]:
df.var(numeric_only=True)

Age           3.769643e+01
Salary        3.053571e+08
Is_Manager    2.857143e-01
dtype: float64

In [ ]:
df.std(numeric_only=True)

Age               6.139742
Salary        17474.471175
Is_Manager        0.534522
dtype: float64

In [ ]:
df.dtypes

Name          object
Position      object
Office        object
Age            int64
Salary         int64
Is_Manager      bool
dtype: object

### 2. 범위와 사분위수 범위

In [ ]:
salary_range = df['Salary'].max() - df['Salary'].min()
salary_range

50000

> IQR = Q3 - Q1  
 => 3사분위수 - 1사분위수

In [ ]:
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)

In [ ]:
IQR = Q3 - Q1

In [ ]:
IQR

np.float64(23750.0)

## 기타

In [ ]:
df.sum(numeric_only=True)

Age              277
Salary        770000
Is_Manager         4
dtype: int64

In [ ]:
df.sum(numeric_only=True,axis=1)

0     95029
1    125034
2     75045
3     85033
4    115031
5    105038
6     90042
7     80029
dtype: object